---
layout: default
title: Schedule
description: "Across Germany you’ll find events focused on technology, marketing, business operations,
community building, and of course the new reality of work. Whether you want to visit workshops, learn from other professionals, or just want to find
your new coworkers, this is where you can see what’s happening. (The Schedule is still in progress and we add events
regularly.)"

---

<div class="container">
  <div class="section section--64 mb6">
    <h1>{{page.title}}</h1>
    <p class="text-huge">
      {{page.description}}
    </p>
    <div class="flex items-center flex-wrap justify-end">
      <p class="pr4 tr">
        Is your coworking space or event missing?
      </p>
      <p>
        <a class="pr4" href="https://events.coworking-germany.org/cowo-fest-24/">
          👉 Add your Space
        </a>

        <a class="pr4"
          href="https://docs.google.com/forms/d/e/1FAIpQLSe-vvmeYfGaqS3UXv64TGaS4kQ0DUkrMMoN9BWwQgzwpoWBAw/viewform">
          👉 Add your Event
        </a>
      </p>
    </div>
  </div>
</div>

{% assign sorted = site.data.events | sort: 'start_time' %}

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>
        <a href="#monday" id="monday">
          Monday, September 23
        </a>
      </h2>
      {% for event in sorted %}
      {% if event.weekday == "Montag / Monday" %}
      {% include event.html %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>
        <a href="#tuesday" id="tuesday">Tuesday, September 24
        </a>
      </h2>
      {% for event in sorted %}
      {% if event.weekday == "Dienstag / Tuesday" %}
      {% include event.html %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>
        <a href="#wednesday" id="wednesday">Wednesday, September 25</a>
      </h2>
      {% for event in sorted %}
      {% if event.weekday == "Mittwoch / Wednesday" %}
      {% include event.html %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>
        <a href="#thursday" id="thursday">Thursday, September 26</a>
      </h2>
      {% for event in sorted %}
      {% if event.weekday == "Donnerstag / Thursday" %}
      {% include event.html %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>
        <a href="#friday" id="friday">Friday, September 27</a>
      </h2>
      {% for event in sorted %}
      {% if event.weekday == "Freitag / Friday" %}
      {% include event.html %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>