---
layout: default-de
title: Veranstaltungskalender
lang: de-DE
description: 'Überall in Deutschland finden Events statt rund um Technologie, Marketing, Business, Community-Building,
und der neuen Arbeitrealität. Ganz egal, ob du Workshops besuchen, dich mit anderen Experten in deinem
Gebiet austauschen, oder einfach nur deine
neuen Coworker suchst: Hier wirst du fündig. (Der Kalender ist noch im Aufbau und es kommen regelmäßig Events hinzu.)'
---

<div class="container">
  <div class="section section--64 mb6">
    <h1>{{ page.title }}</h1>
    <p class="text-huge">
      {{ page.description }}
    </p>
    <div class="flex items-center flex-wrap justify-end">
      <p class="pr4 tr">
        Fehlt dein Event?
      </p>
      <p>
        <a class="pr4"
          href="https://docs.google.com/forms/d/e/1FAIpQLSe-vvmeYfGaqS3UXv64TGaS4kQ0DUkrMMoN9BWwQgzwpoWBAw/viewform">
          👉 Füge dein Event hinzu
        </a>
      </p>
    </div>
  </div>
</div>

{% assign sorted = site.data.events | sort: 'start_time' %}

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>
        <a href="#montag" id="montag">
          Montag, 23. September
        </a>
      </h2>
      {% for event in sorted %}
      {% if event.weekday == "Montag / Monday" %}
      {% include event-de.html %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>
        <a href="#dienstag" id="dienstag">
          Dienstag, 24. September
        </a>
      </h2>
      {% for event in sorted %}
      {% if event.weekday == "Dienstag / Tuesday" %}
      {% include event-de.html %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>
        <a href="#mittwoch" id="mittwoch">
          Mittwoch, 25. September
        </a>
      </h2>
      {% for event in sorted %}
      {% if event.weekday == "Mittwoch / Wednesday" %}
      {% include event-de.html %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>
        <a href="#donnerstag" id="donnerstag">
          Donnerstag, 26. September
        </a>
      </h2>
      {% for event in sorted %}
      {% if event.weekday == "Donnerstag / Thursday" %}
      {% include event-de.html %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>
        <a href="#freitag" id="freitag">Freitag, 27. September</a>
      </h2>
      {% for event in sorted %}
      {% if event.weekday == "Freitag / Friday" %}
      {% include event-de.html %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>