---
layout: default-de
title: Veranstaltungskalender
lang: de-DE
description: 'Quer durch Berlin & Brandenburg finden Events statt rund um Technologie, Marketing, Business, Community-Building, und vielem mehr. Ganz egal, ob du Workshops besuchen, dich mit anderen Experten in deinem Gebiet, oder einfach nur deine neuen Coworker suchst: Hier wirst du fündig. (Der Kalender ist noch im Aufbau und es kommen täglich Events hinzu.)'
---

<div class="container">
  <div class="section section--64 mb6">
    <h1>{{ page.title }}</h1>
    <p class="text-huge">
      {{ page.description }}
    </p>
    <div class="flex items-center flex-wrap justify-end">
      <p class="pr4 tr">
        Dein Space oder Event sollte hier auch stehen?
      </p>
      <p>
        <a class="btn btn--border-with-shadow" href="/de/contact">
          Kontaktiere uns
        </a>
      </p>
    </div>
  </div>
</div>

{% assign sorted = site.data.events | sort: 'start_datetime' %}

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>
        <a href="#montag" id="montag">
          Montag, 5. September
        </a>
      </h2>
      {% for event in sorted %}
      {% if event.weekday == "Monday" %}
      {% include event-de.html %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>
        <a href="#dienstag" id="dienstag">
          Dienstag, 6. September
        </a>
      </h2>
      {% for event in sorted %}
      {% if event.weekday == "Tuesday" %}
      {% include event-de.html %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>
        <a href="#mittwoch" id="mittwoch">
          Mittwoch, 7. September
        </a>
      </h2>
      {% for event in sorted %}
      {% if event.weekday == "Wednesday" %}
      {% include event-de.html %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>
        <a href="#donnerstag" id="donnerstag">
          Donnerstag, 8. September
        </a>
      </h2>
      {% for event in sorted %}
      {% if event.weekday == "Thursday" %}
      {% include event-de.html %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>
        <a href="#freitag" id="freitag">Freitag, 9. September</a>
      </h2>
      {% for event in sorted %}
      {% if event.weekday == "Friday" %}
      {% include event-de.html %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>