---
layout: default-de
lang: de-DE
title: Enabler, Sponsoren und Partner
---

<div class="container">
  <div class="section section--64 mb6">
    <h1>{{ page.title }}</h1>
    <h2>Enabler</h2>
    {% for enabler in site.data.enablers %}
    <h3>{{ enabler.name }}</h3>
    <a href="{{ enabler.url }}" target="_blank">
      <img src="{{ site.baseurl }}/img/logos/{{ enabler.logo }}" alt="{{enabler.name}} Logo" />
    </a>
    {% endfor %}
  </div>
  <div class="section section--64 mb6">
    <h2>Partner</h2>
    {% for partner in site.data.partners %}
    <h3>{{ partner.name }}</h3>
    <a href="{{ partner.url }}" target="_blank">
      <img src="{{ site.baseurl }}/img/partners/{{ partner.logo }}" alt="{{ partner.name }} Logo">
    </a>
    {% endfor %}
  </div>


</div>