---
layout: default
description: Stay tuned. 2024 will be BIG :)
---

<div class="container mb7">
  <div class="section section--64">
    <!-- <h1>Coworking Festival</h1> -->
    <p class="text-huge">
      {{ page.description }}
    </p>
  </div>
</div>

<!-- {% include join-us.html %} -->
<!--
<div class="container pv6 overflow-hidden">
  <div class="ph5-l">
    {% include participating-spaces.html %}
  </div>
</div>
<p class="tc mt3 mb6">
  {% include join-button.html button_text="Register for Free" %}
</p> -->
<!-- {% include register-button.html %} -->