---
layout: default-de
title: Coworking Festival Deutschland 2024
description: "Work Renaissance - Gemeinsam die Zukunft gestalten. Erlebbar vom 23. bis 27. September 2024 in Coworking
Spaces überall in Deutschland"
lang: de-DE
---


{% include join-us-de.html %}

<div class="container pv6 overflow-hidden">
  <div class="ph5-l">
    {% include participating-spaces.html participating_spaces = site.spaces %}
  </div>
</div>
<p class="tc mt3 mb6">
  Riesen Dank an unsere <a href="{{ site.baseurl }}/de/sponsors-and-partners/">Enabler, Sponsoren, Partner</a> und
  <a href="{{ site.baseurl }}/de/about">Landesbotschafter*innen</a> ohne die
  das Coworking
  Festival nicht
  möglich
  wäre!<br>
  <a href="{{ site.baseurl }}/de/about">Das Coworking Festival Team</a>
</p>