---
layout: default-de
description: Bleib dran. 2024 wird GROß :)
lang: de-DE
---

<div class="container mb7">
  <div class="section section--64">
    <!-- <h1>Coworking Festival</h1> -->
    <p class="text-huge">
      {{ page.description }}
    </p>
  </div>
</div>

<!-- {% include join-us-de.html %}

<div class="container pv6 overflow-hidden">
  <div class="section section--64">
  </div>
  <div class="ph5-l">
    {% include participating-spaces.html %}
  </div>
</div>
<p class="tc mt3 mb6">
  {% include join-button.html button_text="Kostenlos anmelden" %}
</p> -->

<!-- {% include register-button-de.html %} -->