---
layout: default-de
description: Das Coworking Festival ist zurück. Für eine Woche im September öffen Spaces in Berlin und Brandenburg ihre Türen und laden ein, die Vielfalt von Coworking zu erleben.
lang: de_DE
---

<div class="container mb7">
  <div class="section section--64">
    <h1>Willkommen zurück</h1>
    <p class="text-huge">
      {{ page.description }}
    </p>
  </div>

  <div class="section section--64 mb6">
    <div class="tours-header">
      <iframe class="tours-header-map border-with-shadow" height="480" src="https://www.google.com/maps/d/u/0/embed?mid=1mpGpBXhfGGulSjbV2i_Tdm-UewA1UCU&ehbc=2E312F" width="640"></iframe>
    </div>
  </div>
</div>

<div class="container pv6 overflow-hidden">
  <div class="section section--64">
    <h3 class="tr">Teilnehmende Spaces</h3>
  </div>
  <div class="ph5-l">
    {% include participating-spaces.html %}
    <p>...weitere Spaces folgen.</p>
  </div>

</div>

{% include register-button-de.html %}
