---
layout: default
description: Coworking Festival is coming back. For one week in September, spaces in Berlin and Brandenburg will open their doors and invite everyone to experience coworking with free workplaces and events.
---

<div class="container mb7">
  <div class="section section--64">
    <h1>We’re back</h1>
    <p class="text-huge">
      {{ page.description }}
    </p>
  </div>
</div>

{% include join-us.html %}

<div class="container pv6 overflow-hidden">
  <div class="ph5-l">
    {% include participating-spaces.html %}
  </div>
</div>
<p class="tc mt3 mb6">
  {% include join-button.html button_text="Register for the Festival" %}
</p>
<!-- {% include register-button.html %} -->