---
layout: default
title: Coworking Festival Germany 2024
description: Work Renaissance - Shaping the Future Together. Happening from September 23rd to 27th, 2024 in coworking spaces all over Germany
---

{% include join-us.html %}
<!--
<div class="container pv6 overflow-hidden">
  <div class="ph5-l">
    {% include participating-spaces.html %}
  </div>
</div>
<p class="tc mt3 mb6">
  {% include join-button.html button_text="Register for Free" %}
</p> -->
<!-- {% include register-button.html %} -->