<footer class="site-footer flex flex-wrap">
  <div class="footer__supporters">
    <div class="flex items-center">
      {% include sponsor-logos.html %}
    </div>
    <h4>Thanks to our supporters</h4>
    <p class="mb0 text-medium">
      The festival is orgnaized and sponsored by
      <a href="https://www.cobot.me/?utm_source=coworkingfestival&utm_medium=sponsoring&utm_content=sponsor-link" target="_blank">Cobot</a>, the leading provider of coworking management software worldwide.
      <br>
      Supported by
      <a href="https://onecoworking.com?utm_source=coworkingfestival&utm_medium=sponsoring&utm_content=sponsor-link" target="_blank">One Coworking</a>, the app connecting people and teams to the best coworking spaces around the globe.
    </p>
  </div>
  <div class="footer__meta">
    <div class="footer__nav">
      <a class="link--footer" href="/">Home</a>
      <span class="link--footer" href="/en/schedule">Schedule</span>
      <a class="link--footer" href="/en/faq">FAQ</a>
      <a class="link--footer pr0" href="/en/contact">Contact</a>
    </div>
    <div class="footer__credit text-medium">
      <span class="pr2">&copy; 2023 |
        <a href="https://2022.coworkingfestival.com">2022</a> |
        <a href="https://2019.coworkingfestival.com">2019</a> |
        <a href="https://2018.coworkingfestival.com">2018</a> |
        <a href="https://berlincoworking.wixsite.com/coworking-festival">2017</a>
        Coworking Festival Berlin & Brandenburg
      </span>
      &bull;
      <a class="link--footer pl2 pr0" href="/en/impressum">Impressum</a>
      &bull;
      <a class="link--footer pl2 pr0" targe="_blank" href="https://drive.google.com/drive/folders/1vSFWeL-GWFORnRM2pQZZak7obsPTWw2h?usp=sharing">Press Kit</a>
    </div>
  </div>
</footer>
