<footer class="site-footer flex flex-wrap">
  <div class="footer__supporters">
    <div class="flex items-center">
      {% include sponsor-logos.html %}
    </div>
    <h4>Sponsoren</h4>
    <p class="mb0 text-medium">
      Das Festival wird unterstützt von
      <a href="https://www.cobot.me/?utm_source=coworkingfestival&utm_medium=sponsoring&utm_content=sponsor-link"
        target="_blank">Cobot</a>, der weltweit führenden Coworking Software aus Berlin
      und
      <a href="https://onecoworking.com?utm_source=coworkingfestival&utm_medium=sponsoring&utm_content=sponsor-link"
        target="_blank">One Coworking</a>, die App, die Menschen und Teams mit den besten Coworking Spaces rund um den
      Globus verbindet.
      Ein großes Danke an unsere Freunde von <a
        href="https://www.coworkies.com/?utm_source=coworkingfestival&utm_medium=sponsoring&utm_content=sponsor-link"" >Coworkies.</a>
    </p>
  </div>
  <div class=" footer__meta">
        <div class="footer__nav">
          <a class="link--footer" href="/">Homepage</a>
          <span class="link--footer" href="/de/schedule">Kalender</span>
          <a class="link--footer" href="/de/faq">FAQ</a>
          <a class="link--footer pr0" href="/de/contact">Kontakt</a>
        </div>
        <div class="footer__credit text-medium">
          <span class="pr2">&copy; 2022 Coworking Festival Berlin</span>
          &bull;
          <a class="link--footer pl2 pr0" href="/de/impressum">Impressum</a>
          &bull;
          <a class="link--footer pl2 pr0" targe="_blank"
            href="https://drive.google.com/drive/folders/1vSFWeL-GWFORnRM2pQZZak7obsPTWw2h?usp=sharing">Pressematerial</a>
        </div>
  </div>
</footer>