<footer class="site-footer flex flex-wrap">
  <div class="footer__supporters">
    <div class="flex items-center">
      {% include sponsor-logos.html %}
    </div>
    <p class="mb0 text-medium">
      Das Festival wird ermöglicht durch: <br>
      {% for enabler in site.data.enablers %}
      <a href="{{ enabler.url }}?utm_source=coworkingfestival&utm_medium=sponsoring&utm_content=sponsor-link"
        target="_blank">{{ enabler.name }}</a>{{enabler.claim_de}}
      <br>
      {% endfor %}
    </p>
  </div>
  <div class=" footer__meta">
    <div class="footer__nav">
      <a class="link--footer" href="/">Homepage</a>
      <!-- <a class="link--footer" href="/de/schedule">Kalender</a>
      <a class="link--footer" href="/de/faq">FAQ</a> -->
      <a class="link--footer pr0" href="/de/contact">Kontakt</a>
    </div>
    <div class="footer__credit text-medium">
      <span class="pr2">&copy; 2024 |
        <a href="https://2023.coworkingfestival.com">2023</a> |
        <a href="https://2022.coworkingfestival.com">2022</a> |
        <a href="https://2019.coworkingfestival.com">2019</a> |
        <a href="https://2018.coworkingfestival.com">2018</a> |
        <a href="https://berlincoworking.wixsite.com/coworking-festival">2017</a>
        Coworking Festival
      </span>
      &bull;
      <a class="link--footer pl2 pr0" href="/de/impressum">Impressum</a>
      &bull;
      <a class="link--footer pl2 pr0" href="/de/datenschutz">Datenschutz</a>
      &bull;
      <a class="link--footer pl2 pr0" href="/de/sponsors-and-partners">Sponsoren und Partner</a>

      <!-- &bull;
        <a class="link--footer pl2 pr0" targe="_blank"
          href="https://drive.google.com/drive/folders/1Y0LsjaDkZJA7egH9J7yOMPIQPNlbMp9Y">Pressematerial</a>
        &bull;
        <a class="link--footer pl2 pr0"
          href="https://drive.google.com/file/d/1IzaUX3eYXoc2gP4bPpkdR8Z0jC5kLmi2/view?usp=drive_link">Sponsoring</a> -->
    </div>
  </div>
</footer>