<div class="container mb6">
  <div class="section section--64 media-content">
    <div class="media-content__media">
      <img src="/img/space-photos/photo-cowomen.jpg" alt="Cowomen Space" />
    </div>
    <div class="media-content__content">
      <div class="border-with-shadow pa4 pa5-l">
        <h3>Gratis Coworking mit der One Coworking App</h3>
        <p>
          Vom 5. bis 9. September kannst du die Berliner Coworking-Szene mit der One Coworking App erkunden - und das
          kostenlos! Viele von Berlins Top Spaces öffnen während des Coworking Festivals 2022 ihre Türen für die
          Öffentlichkeit und du kannst mit One Coworking ganz einfach durch die Optionen navigieren. Sehe dir die Liste
          der Spaces an, finde die Spaces in deiner Nähe und checke mit einem einfachen Klick ein. Registriere dich
          unten, um neue Arbeitsumgebungen auszuprobieren und zu erleben, was Coworking bedeutet.
        </p>

        <p class="tc mt4">
          <a href="https://onecoworking.com/coworking-festival-2022" class="btn btn--big btn--border-with-shadow">
            Jetzt Gutscheine sichern
          </a>
        </p>
      </div>
    </div>
  </div>
</div>