<div class="container mb6">
  <div class="section section--64 media-content">
    <div class="media-content__media">
      <img src="/img/space-photos/photo-cowomen.jpg" alt="Cowomen Space" />
    </div>
    <div class="media-content__content">
      <div class="border-with-shadow pa4 pa5-l">
        <h3>Stay connected</h3>
        <p>
          Hear first about all news around Coworking Festival Berlin & Brandenburg.
        </p>
        <p class="tc mt4 flex gap3">
          <a href="https://www.linkedin.com/company/berlincoworking/" class="btn btn--big btn--border-with-shadow">
            LinkedIn
          </a>
          <a href="https://www.instagram.com/berlincoworking/" class="btn btn--big btn--border-with-shadow">
            Instagram
          </a>
        </p>
      </div>
    </div>
  </div>
</div>