<div class="container mb6">
  <div class="section section--64 media-content">
    <div class="media-content__media">
      <img src="/img/space-photos/photo-cowomen.jpg" alt="Cowomen Space" />
    </div>
    <div class="media-content__content">
      <div class="border-with-shadow pa4 pa5-l">
        <h3>Am Festival teilnehmen</h3>
        <p>
          Vom 11. bis 15. September 2023 werden Coworking Spaces in Berlin und Brandenburg ihre Türen öffnen und die
          Öffentlichkeit einladen, Coworking persönlich zu erleben. Es ist eine Gelegenheit, mit der breiteren
          Gemeinschaft in
          Kontakt zu treten und zu zeigen, was so viele Fachleute auf der ganzen Welt bereits erkannt haben: Coworking
          wird nicht
          nur bleiben, sondern unsere Beziehung zur Arbeit neu definieren.
        </p>
        <p class="tc mt4 flex gap3">
          <a href="https://www.eventbrite.com/e/berlin-brandenburg-coworking-festival-2023-tickets-676030063117"
            class="btn btn--big btn--border-with-shadow">
            Für das Festival anmelden
          </a>
        </p>
      </div>
    </div>
  </div>
</div>