{% assign space = site.spaces | sample: 1 %}
<div class="container mb6">
  <div class="section section--64 media-content">
    <div class="media-content__media">
      <img src="{{ site.baseurl }}/img/space-photos/{{ space.image }}" alt="{{ space.name }} Photo" />
    </div>
    <div class="media-content__content">
      <div class="border-with-shadow pa4 pa5-l">
        <h3>Work Renaissance: Shaping the Future Together.</h3>
        The festival in spaces across Germany will show ways to rethink work, promote innovation and build a more
        inclusive and sustainable future for all.
        </p>
        <p class="tc mt4">
          {% include register-button.html %}
        </p>
      </div>
    </div>
  </div>
</div>