<div class="container mb6">
  <div class="section section--64 media-content">
    <div class="media-content__media">
      <img alt="CoWomen Space" src="/img/space-photos/photo-cowomen.jpg" />
    </div>
    <div class="media-content__content">
      <div class="border-with-shadow pa4 pa5-l">
        <h3>Start Coworking for Free with One Coworking</h3>
        <p>
          From September 5 – 9th, explore Berlin’s coworking scene using the One Coworking app — for free! Many of
          Berlin’s top spaces are opening their doors to the public during the Coworking Festival 2022 and you can
          navigate your options withease by using One Coworking. View a list of spaces, find the ones near you, and
          check in with a simple click. Register below to try out new workspaces and experience what coworking is all
          about.
        </p>
        <p class="tc mt4">
          <a class="btn btn--big btn--border-with-shadow" href="https://onecoworking.com/coworking-festival-2022">
            Get Free Vouchers
          </a>
        </p>
      </div>
    </div>
  </div>
</div>