<button class="menu-toggle" id="menu-toggle" name="button" type="button">
  <span class="menu-toggle__text">Menu</span>
  <span class="menu-toggle__icon"></span>
</button>
<nav class="menu" id="menu">
  <div class="menu__inner">
    <a class="menu-link menu-link--home" href="/">Home</a>
    <a class="menu-link" href="/en/schedule">Schedule</a>
    <!-- <a class="menu-link" href="/en/tours">Tours</a> -->
    <a class="menu-link" href="/en/faq">FAQ</a>
    <a class="menu-link menu-link--small" href="/en/faq/#coworking_spaces_faq">
      ...for Spaces
    </a>
    <a class="menu-link menu-link--small" href="/en/faq/#visitors_faq">
      ...for Visitors
    </a>
    <a class="menu-link" href="/en/about">About Us</a>
    <a class="menu-link" href="/en/contact">Contact</a>
    <div class="menu-inner__group">
      <a class="menu-link menu-link--mini" href="https://www.facebook.com/coworkingfestival.de"
        target="_blank">Facebook</a>
      <a class="menu-link menu-link--mini" href="https://www.instagram.com/germancoworkingfederation"
        target="_blank">Instagram</a>
      <a class="menu-link menu-link--mini" href="https://www.linkedin.com/showcase/coworkingfestival"
        target="_blank">LinkedIn</a>
    </div>
  </div>
</nav>