<a alt="Cobot" class="footer__sponsor footer__sponsor--cobot mr5"
  href="https://www.cobot.me/?utm_source=coworkingfestival&utm_medium=sponsoring&utm_content=logo" target="_blank">
  <img src="{{ site.baseurl }}/img/logos/logo-cobot.svg" alt="Cobot Logo" />
</a>
<a alt="BRaLi" class="footer__sponsor footer__sponsor--brali mr5"
  href="https://www.brali.org?utm_source=coworkingfestival&utm_medium=sponsoring&utm_content=logo" target="_blank">
  <img src="{{ site.baseurl }}/img/logos/logo-brali.png" alt="BraLi Logo" />
</a>
<a alt="One Coworking" class="footer__sponsor footer__sponsor--oneco mr5"
  href="https://onecoworking.com?utm_source=coworkingfestival&utm_medium=sponsoring&utm_content=logo" target="_blank">
  <img src="{{ site.baseurl }}/img/logos/logo-oneco.png" alt="One Coworking Logo" />
</a>
<a alt="The Instant Group" class="footer__sponsor footer__sponsor--tig mr5"
  href="https://www.theinstantgroup.com?utm_source=coworkingfestival&utm_medium=sponsoring&utm_content=logo" target="_blank">
  <img src="{{ site.baseurl }}/img/logos/logo-instant-group.svg" alt="The Instant Group" />
</a>