<a alt="Cobot" class="footer__sponsor footer__sponsor--cobot mr5"
  href="https://www.cobot.me/?utm_source=coworkingfestival&utm_medium=sponsoring&utm_content=logo" target="_blank">
  <img src="{{ site.baseurl }}/img/logos/logo-cobot.svg" alt="Cobot Logo" />
</a>
<a alt="BraLi" class="footer__sponsor footer__sponsor--brali mr5"
  href="https://www.brali.org?utm_source=coworkingfestival&utm_medium=sponsoring&utm_content=logo" target="_blank">
  <img src="{{ site.baseurl }}/img/logos/logo-brali.png" alt="BraLi Logo" />
</a>