// Flex gap

.gap0 {
  gap: 0;
}

.gap1 {
  gap: 0.25rem;
}

.gap2 {
  gap: 0.5rem;
}

.gap3 {
  gap: 1rem;
}

.gap4 {
  gap: 1.5rem;
}

.gap5 {
  gap: 2rem;
}

.gap6 {
  gap: 2.5rem;
}

.gap7 {
  gap: 3rem;
}

.gap8 {
  gap: 4rem;
}
