// logo
.logo {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 7.25em 1fr;
  align-items: end;
  color: $color-text;
  font-family: sofia-pro-condensed, sans-serif;
  font-size: 1rem;
  @include media-query($size-s) {
    font-size: 1.5rem;
  }
  @include media-query($size-m) {
    font-size: 2.25rem;
  }
  &:hover, &:focus {
    outline: none;
    color: $color-text;
    .logo__2023 {
      transform: rotate(10deg);
    }
  }
}

.logo__2023 {
  transition-property: color, background-color, border, transform;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  img {
    display: block;
    margin-left: -0.5rem;
  }
}

.logo__name {
  font-size: 1.575em;
  line-height: 1.275;
  letter-spacing: .025em;
}

.logo__details {
  font-size: .625em;
  font-family: sofia-pro, sans-serif;
  line-height: 2.325;
  text-align: right;
  white-space: nowrap;
}

.logo__location {
  display: block;
}
