---
layout: default
---

<div class="container mb6">
  <div class="section section--64 media-content">
    <div class="media-content__media">
      {% if page.image_format %}
      <img alt="{{ page.name }} Photo"
        src="{{ site.baseurl }}/img/space-photos/photo-{{ page.space_id }}.{{ page.image_format }}"
        alt="{{ page.name }} Photo" />
      {% endif %}
    </div>
    <div class="media-content__content">
      <div class="border-with-shadow pa4 pa5-l">
        <h3>{{page.name}}</h3>
        <p>
        <div>
          <img src="{{ site.baseurl }}/img/logos/logo-{{ page.space_id }}.{{ page.logo_format | default: 'png' }}"
            alt="{{ page.name }} Logo" />
        </div>

        </p>
        <p>
          {{ page.address }}
        </p>
        <p>
          {{page.description}}
        </p>

        <p class="tc mt4">
          <a class="btn btn--big btn--border-with-shadow" href="{{ page.link }}">
            {{page.name}}
            Website
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

{% assign sorted = site.data.events | where: "space_id", page.space_id | sort: 'start_time' %}

{% if sorted.size > 0 %}
<div class="section section--64 mb6">
  <h2> Events @ {{page.name}}
  </h2>
</div>

{% endif %}
{% assign monday_events = sorted | where: "weekday", "Montag / Monday" %}
{% if monday_events.size > 0 %}
{% include schedule_day.html date="Montag, 23. September" day_events = monday_events day_id = monday%}
{% endif %}
{% assign tuesday_events = sorted | where: "weekday", "Dienstag / Tuesday" %}
{% if tuesday_events.size > 0 %}
{% include schedule_day.html date="Dienstag, 24. September" day_events = tuesday_events day_id = tuesday%}
{% endif %}
{% assign wednesday_events = sorted | where: "weekday", "Mittwoch / Wednesday" %}
{% if wednesday_events.size > 0 %}
{% include schedule_day.html date="Mittwoch, 25. September" day_events = wednesday_events day_id = wednesday %}
{% endif %}
{% assign thursday_events = sorted | where: "weekday", "Donnerstag / Thursday" %}
{% if thursday_events.size > 0 %}
{% include schedule_day.html date="Donnerstag, 26. September" day_events = thursday_events day_id = thursday %}
{% endif %}
{% assign friday_events = sorted | where: "weekday", "Freitag / Friday" %}
{% if friday_events.size > 0 %}
{% include schedule_day.html date="Freitag, 27. September" day_events = friday_events day_id = friday %}
{% endif %}